<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

    <!--the extensions NLog-->
    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
        <add assembly="NLog.Targets.ElasticSearch"/>
    </extensions>

    <!-- the targets to write to -->
    <targets async="true">
        <!-- write logs to file  -->
        <target name="allfile" xsi:type="File"
                fileName="${basedir}/Logs/nlog-all-${shortdate}.log"/>
        <!-- write logs to elastic search  -->
        <target name="elastic" xsi:type="BufferingWrapper" flushTimeout="5000">
            <target xsi:type="ElasticSearch"
                    index="Diab-${configsetting:item=Environment}-${date:format=yyyy.MM.dd}"
                    layout ="Diab-${configsetting:item=Environment}-|${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}"
                    includeAllProperties="true"
                    requireAuth="true"
                    username="elastic"
                    password="123456"
                    uri="https://elastic.atds.com.vn" />
        </target>
    </targets>

    <!-- rules to map from logger name to target -->
    <rules>
        <!--All logs, including from Microsoft-->
        <!--<logger name="*" minlevel="Error" writeTo="allfile" />-->
        <logger name="*" minlevel="Info" writeTo="allfile" />
        <logger name="*" minlevel="Warn" writeTo="elastic" />
    </rules>
</nlog>
