<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<appSettings>
		<add key="OracleCredentialInSetting" value="True"/>
		<add key="Database" value="172.16.16.33:1521/gosho"/>
		<add key="UserId" value="gosho"/>
		<add key="Password" value="gosho"/>
	</appSettings>-->
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
